@charset "UTF-8";
html {
  height: 100%;
  font-size: calc(100vw * 14 / 375);
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "나눔고딕", NanumGothic, "맑은 고딕", "Malgun Gothic", "돋움", dotum, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(38, 194, 0, 0.1);
}

html,
body,
div,
span,
applet,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

div,
article,
section,
header,
footer,
p,
ul,
li,
span,
label {
  box-sizing: border-box;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

@keyframes navi {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes ball {
  50% {
    transform: scale(1.1);
  }
}

@keyframes explosion {
  50% {
    transform: translate3d(0, -10px, 0);
  }
}

@keyframes explosion2 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  20% {
    transform: translate3d(0, -10px, 0);
  }
  40% {
    transform: translate3d(0, 0, 0);
  }
  60% {
    transform: translate3d(0, -10px, 0);
  }
  80% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -10px, 0);
  }
}

@keyframes message {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes arrow {
  0% {
    transform: rotate(-30deg) translate3d(-17%, -30%, 0);
  }
  50% {
    transform: rotate(-30deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(-30deg) translate3d(-17%, -30%, 0);
  }
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ani-body {
  50% {
    transform: rotate(2deg) translate3d(0, 0, 0);
  }
}

@keyframes ani-arm-right {
  50% {
    transform: rotate(5deg) translate3d(0, 2%, 0);
  }
}

@keyframes ani-arm-left {
  50% {
    transform: rotate(4deg) translate3d(0, 2%, 0);
  }
}

@keyframes ani-wand {
  50% {
    transform: rotate(4deg) translate3d(0, -2%, 0);
  }
}

body {
  height: 100%;
  font-weight: 400;
  text-align: justify;
  letter-spacing: -0.05em;
}

body .schedule,
body .navi {
  display: none;
}

body.ready .page-container {
  overflow-x: hidden;
}

body.ready .schedule,
body.ready .navi {
  display: block;
}

body.go {
  height: auto;
}

body.go .page-container {
  height: auto;
}

body.step-1 {
  overflow: hidden;
}

p {
  line-height: 1.6;
}

a {
  border-bottom: 2px solid #000;
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  color: #fff;
  background: #000;
}

.page-container {
  overflow: hidden;
  height: 100%;
}

.bnt-btn {
  display: block;
  margin: 0.5em 0;
  padding: 0.3em 1em 0.3em;
  border: 3px solid #000;
}

.emphasis {
  color: mediumseagreen;
}

.loading {
  display: -o-box;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -o-box-pack: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -o-box-align: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
  background: #000;
  transition: all 0.5s;
}

.loading i {
  display: block;
  position: relative;
  width: 5vw;
  height: 5vw;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: translate3d(0, -2vh, 0);
}

.loading i:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: -3px 0 0 -3px;
  border: 3px solid #fff;
  border-color: #fff transparent transparent;
  border-radius: 50%;
  animation: loading 0.5s linear infinite;
}

.page {
  overflow-x: hidden;
  padding: 0 8vw 8vw;
  -o-user-select: none;
  user-select: none;
}

.balls {
  -o-user-select: none;
  user-select: none;
}

.default-position {
  overflow: auto;
}

.para {
  line-height: 1.8;
}

.signature {
  text-align: right;
}

.head-bar {
  height: 3vw;
  margin-bottom: 10px;
  background: #000;
}

.ball {
  display: -o-box;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -o-box-pack: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -o-box-align: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 110;
  font-size: calc(100vw * 10 / 375);
  text-align: center;
  color: #fff;
  letter-spacing: 0;
  cursor: pointer;
  cursor: -webkit-grab;
}

.ball.transition {
  transition: all 500ms;
}

.ball.small {
  width: 10px !important;
  height: 10px !important;
  opacity: 0;
}

.ball:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #000;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #666666 0%, #939393 28%, #474747 45%, #131313 62%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  opacity: 0.95;
  animation: ball 1s infinite;
  transition: all 5000ms;
}

.ball:after {
  content: "";
  display: block;
  position: absolute;
  left: 15%;
  top: 15%;
  width: 17%;
  height: 10%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  transform: rotate(-45deg);
}

.ball span {
  position: relative;
}

.block {
  transform: translate3d(0, 0, 0);
  transition: all 1000ms cubic-bezier(0.76, 0.03, 0.93, 1.26);
}

.moving-bar {
  width: 57vw;
  height: 0.5em;
  background: #000;
  transform: translate3d(-120%, 0, 0);
  transition: all 500ms cubic-bezier(0.82, 0.32, 1, 1);
}

.staff .moving-bar,
.schedule .moving-bar,
.sponsor .moving-bar,
.footer-container .moving-bar {
  width: 100%;
}

.slide-item {
  margin: 40px 0;
}

.ready .page {
  overflow-x: visible;
}

.ready .slide-item {
  transform: translate3d(0, 40px, 0);
  transition: all 1000ms;
}

.ready .slide-item.slide-item--active {
  transform: translate3d(0, 0, 0);
}

.go .slide-item {
  overflow: hidden;
}

.go .slide-item.slide-item--active .moving-bar {
  transform: translate3d(0, 0, 0);
}

.go .head-bar + .slide-item {
  overflow-x: visible;
  margin-top: 0;
}

.witch {
  position: fixed;
  right: 0;
  top: 25vw;
  width: 100vw;
  height: 100vw;
  -o-user-select: none;
  user-select: none;
}

.witch__arrow {
  display: none;
  position: absolute;
  border-style: solid;
  border-width: 10px 5px;
  border-color: #000 transparent transparent;
  transform: rotate(-20deg);
  animation: arrow 0.5s infinite;
}

.witch-item {
  position: absolute;
  background: no-repeat 0 0 / contain;
  transition: all 0.5s;
}

.witch__arm-right {
  left: 56%;
  top: 13%;
  width: 17.53472%;
  height: 15.625%;
  background-image: url("../images/witch-arm-right.png");
  opacity: 0;
  transform-origin: 100% 80%;
}

.witch__body {
  left: 66.7%;
  top: 10%;
  width: 24.82639%;
  height: 34.89583%;
  background-image: url("../images/witch-body.png");
  opacity: 0;
  transform-origin: 50% 100%;
}

.witch__arm-left {
  left: 54%;
  top: 16.5%;
  width: calc(100% * (330 / 1152));
  height: calc(100% * (340 / 1152));
  background-image: url("../images/sprite-arm.png");
  background-size: 200% auto;
  opacity: 0;
  transform-origin: 100% 50%;
}

.witch__wand {
  left: 49.5%;
  top: 0;
  width: 13.88889%;
  height: 50.17361%;
  background-image: url("../images/witch-wand.png");
  opacity: 0;
  transform-origin: 100% 60%;
}

.witch__jeju {
  left: 0;
  top: 35.5%;
  width: 100%;
  height: 37.32639%;
  background-image: url("../images/witch-jeju.png");
}

.witch__halla {
  left: 41.7%;
  top: 44%;
  z-index: 120;
  width: 24.30556%;
  height: 9.02778%;
  background-image: url("../images/witch-halla.png");
}

.witch__message {
  left: 27%;
  top: 17%;
  padding: 0.5em;
  font-size: calc(100vw * 12 / 375);
  font-style: italic;
  opacity: 0;
  transform: translate3d(-50%, 0, 0);
}

.witch__message span {
  background: #fff;
}

.global-header:after {
  content: "";
  display: block;
  clear: both;
}

.global-footer {
  margin-bottom: 110px;
}

.btn-explosion {
  display: -o-box;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -o-box-pack: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -o-box-align: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  overflow: hidden;
  float: right;
  position: relative;
  z-index: 20;
  width: calc(100vw * 44 / 375);
  height: calc(100vw * 44 / 375);
  border: 0;
  border-radius: 50%;
  font-size: calc(100vw * 12 / 375);
  white-space: nowrap;
  background: #000;
  cursor: pointer;
  opacity: 0;
  transition: all 500ms 1000ms;
}

.btn-explosion > span {
  position: absolute;
  left: -1000rem;
}

.btn-explosion:before {
  content: "폭발!";
  font-weight: 900;
  color: #fff;
}

.global-header__title img {
  width: 100%;
}

.content {
  position: relative;
  z-index: 30;
  padding: 3em 0 5em;
}

.content__header .para {
  clear: both;
}

.content__header .para:nth-child(2n) {
  float: right;
}

.step-1 .slide-item--active {
  margin-top: 0;
  transform: translate3d(0, 0, 0);
}

.step-1 .page,
.step-1 .witch {
  animation: explosion infinite linear 100ms 1000ms;
}

.step-1 .ball:before {
  background: mediumseagreen;
}

.step-1 .witch__jeju,
.step-1 .witch__halla {
  opacity: 0.6;
}

.step-1 .hanbit {
  display: none;
}

.step-2 .ball {
  transition-timing-function: cubic-bezier(0, 0, 0.18, 0.995);
}

.step-2 .page,
.step-2 .witch {
  animation: explosion2 linear 400ms;
}

.step-2 .hanbit {
  display: none;
}

.hanbit {
  margin: 20px 0;
}

.step-3 .witch {
  z-index: 10;
}

.step-3 .witch__arrow {
  display: block;
}

.step-3 .witch__arm-right,
.step-3 .witch__arm-left,
.step-3 .witch__body,
.step-3 .witch__wand {
  opacity: 1;
}

.step-3 .witch__body {
  animation: ani-body 2000ms infinite;
}

.step-3 .witch__arm-left {
  animation: ani-arm-left 2000ms infinite;
}

.step-3 .witch__arm-right {
  animation: ani-arm-right 2000ms infinite;
}

.step-3 .witch__wand {
  animation: ani-wand 2000ms infinite;
}

.step-3 .witch__message {
  animation: message 0.5s infinite;
}

.step-3 .hanbit {
  display: none;
}

.ready .page,
.ready .witch {
  animation: explosion2 linear 400ms;
}

.ready .witch__arrow {
  display: none;
  animation: none;
}

.ready .witch__message {
  animation: none;
}

.ready .btn-explosion {
  opacity: 1;
}

.ready .block {
  transform: translate3d(0, 0, 0) !important;
}

.ready .witch {
  z-index: 0;
  opacity: 0.5;
}

.ready .hanbit {
  display: block;
}

.staff {
  clear: both;
}

.photos .slide-item {
  overflow: visible;
  margin: 50px 0;
}

.photo-item {
  transform: perspective(800px) translate3d(0, 0, -20vw);
  transition: all 0.5s;
  opacity: 0.3;
}

.photo-item img {
  width: 100%;
}

.slide-item--active .photo-item {
  transform: perspective(800px) translate3d(0, 0, 0);
  opacity: 1;
}

.content-section {
  margin: 3em 0;
  padding-top: 1em;
}

.content-section__title {
  margin-top: 70px;
  font-size: calc(100vw * 20 / 375);
}

.info-list > li {
  display: -o-box;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
}

.info-list > li:before {
  content: "-";
  margin-right: 0.5em;
}

.info-list__content {
  -o-box-flex: 1;
  -moz-flex: 1;
  -o-flex: 1;
  flex: 1;
}

.schedule {
  margin-bottom: 70px;
}

.schedule__day {
  font-size: calc(100vw * 20 / 375);
}

.schedule__item {
  margin-bottom: 70px;
}

.schedule__timeline > li {
  display: -o-box;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  margin: 0.5em 0;
  border-bottom: 1px solid #000;
}

.schedule__timeline > li div:nth-child(1) {
  width: 30%;
}

.schedule__timeline > li div:nth-child(2) {
  -o-box-flex: 1;
  -moz-flex: 1;
  -o-flex: 1;
  flex: 1;
}

.information {
  text-align: left;
}

.photo-item .ci {
  width: 150px;
}

.online-lecture-link {
  display: block;
  margin-top: 10px;
  border-bottom: none;
}

.online-lecture-link span {
  display: inline-block;
  border-bottom: 2px solid #000;
}

@media screen and (min-width: 1000px) {
  html {
    font-size: calc(100vw * 16 / 1000);
  }
  a {
    border-bottom-width: 3px;
  }
  .page {
    padding: 0 5vw;
  }
  .ball {
    font-size: calc(100vw * 14 / 1000);
  }
  .witch {
    top: 15vw;
    width: 57vw;
    height: 57vw;
    margin-right: -4vw;
  }
  .witch__arrow {
    border-width: 20px 10px;
  }
  .witch__message {
    left: 30%;
    font-size: calc(100vw * 14 / 1000);
  }
  .head-bar {
    width: 57vw;
  }
  .global-header__title {
    width: 57vw;
  }
  .btn-explosion {
    position: absolute;
    right: 1px;
    top: 0;
    width: calc(100vw * 60 / 1000);
    height: calc(100vw * 60 / 1000);
    font-size: calc(100vw * 14 / 1000);
    transform: translate3d(0, -30px, 0);
  }
  .slide-item--active .btn-explosion {
    transform: translate3d(0, 0, 0);
  }
  .photos {
    width: 57vw;
  }
  .photos .slide-item {
    margin-bottom: 100px;
  }
  .photo-item {
    transform: perspective(800px) translate3d(0, 0, -10vw);
    opacity: 0.5;
  }
  .ie .photo-item {
    transform: perspective(800px) translate3d(0, 0, -100px);
  }
  .ie .slide-item--active .photo-item {
    transform: perspective(800px) translate3d(0, 0, 0);
  }
  .photo-item .ci {
    width: 250px;
  }
  .staff .moving-bar,
  .sponsor .moving-bar,
  .footer-container .moving-bar {
    width: 57vw;
  }
  .content-section__title {
    font-size: calc(100vw * 25 / 1000);
    font-weight: 900;
  }
  .information {
    width: 57vw;
  }
  .online-lecture-link {
    display: inline-flex;
    align-items: center;
  }
  .online-lecture-link div {
    margin-left: 0;
    font-size: 0;
  }
  .online-lecture-link span {
    margin-left: 10px;
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: calc(100vw * 20 / 1400);
  }
  a {
    border-bottom-width: 4px;
  }
  .witch {
    width: 50vw;
    height: 50vw;
    margin-right: -2vw;
  }
  .information,
  .photos,
  .head-bar,
  .moving-bar,
  .global-header__title,
  .content__header .para {
    width: 50vw;
  }
  .staff .moving-bar,
  .sponsor .moving-bar,
  .footer-container .moving-bar {
    width: 50vw;
  }
  .schedule {
    width: 100%;
    font-size: 0;
  }
  .schedule__day {
    padding: 0.3em 0;
  }
  .schedule__item {
    display: inline-block;
    vertical-align: top;
    box-sizing: content-box;
    font-size: 1rem;
  }
  .schedule__item:nth-child(3n + 1) {
    padding-left: 0;
  }
  .schedule__timeline > li div:nth-child(1) {
    width: 35%;
  }
}

@media screen and (min-width: 1600px) {
  a {
    border-bottom-width: 5px;
  }
  .witch {
    width: 40vw;
    height: 40vw;
  }
  .witch__message {
    left: 20%;
  }
}

.schedule-ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
  margin-top: 2rem;
}

.schedule-ol > li {
  width: calc((100% - 6rem) / 3);
  flex-shrink: 0;
}

.schedule-ol > li p {
  font-size: 2em;
  font-weight: 900;
}

.schedule-ol > li p strong {
  font-size: 0.5em;
  font-weight: normal;
}

.schedule-ol > li p strong::before {
  content: "/ ";
}

.schedule-ol ol {
  font-weight: normal;
  margin-top: 2em;
}

.schedule-ol ol > li {
  display: flex;
  align-items: flex-start;
  gap: 1em;
}

.schedule-ol ol > li:not(:first-child) {
  margin-top: 1em;
}

.schedule-ol ol span:not(:last-child) {
  flex-basis: 7em;
  text-align: center;
  flex-shrink: 0;
  font-weight: bold;
  font-size: 0.8em;
  background: #eee;
  border-radius: 1rem;
  padding: 0 0.3em;
}

.schedule-ol ol span:last-child {
  font-size: 0.85em;
}

.schedule-ol ol ul li {
  font-size: 0.9em;
  word-break: keep-all;
  text-align: left;
  letter-spacing: -0.5px;
  position: relative;
  padding-left: 0.8em;
}

.schedule-ol ol ul li:not(:first-child) {
  margin-top: 0.2em;
}

.schedule-ol ol ul li::before {
  content: "";
  display: block;
  width: 0.3em;
  height: 0.3em;
  background: #000;
  position: absolute;
  top: 0.8em;
  left: 0;
}

@media (max-width: 1360px) {
  .schedule-ol > li {
    width: calc((100vw - 10vw - 3rem) / 2);
  }
}

@media (max-width: 1000px) {
  .schedule-ol > li {
    width: 100%;
  }
}

.navi {
  animation: navi 1s;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background: #000;
  width: 100%;
}

.navi ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.4rem;
}

.navi ul li a {
  display: block;
  border-bottom: 0;
  padding: 0.5em 1em;
  color: #fff;
  font-size: 0.8em;
}

.navi ul li a:hover {
  background: #fff;
  color: #000;
  border-radius: 0.3rem;
}

.slide-item.visible {
  overflow: visible;
}

#photo header {
  padding-top: 3em;
}

#schedule .content-section__title {
  margin-top: 3em;
}

.staff__name {
  font-weight: bold;
  font-size: 1.1em;
}
